# Bootstrap
app/bootstrap*
# Symfony directories
vendor/*
!vendor/friendsofsymfony/user-bundle/FOS/UserBundle/Resources/views/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
# Configuration files
app/config/parameters.ini
nbproject/private/
