
{% extends "MarleneActasBundle::layout.html.twig" %}

{% block body %}

	<DIV class="welcomeTextWrapper">
		<DIV id="welcomeText" >
			<p class="animated pulse zoomInDown" >Bienvenido a Marlene!</p>
		</DIV>
	</DIV>

{% endblock %}


